<section class="jumbotron jumbotron-fluid main-header text-center d-flex align-items-center sticky-content">
  <div class="container header align-middle">
    <h3 class="jumbotron-heading">Restaurant Name</h3>
    <p class="lead">Location</p>
    <p class="lead">Open Time: 09:30AM</p>
    <p class="lead">Close Time: 10:30PM</p>
  </div>
</section>
<div class="container-fluid nav1 navbar-expand-sm navbar-light bg-white sticky-top" style="padding-top: 60px;">
  <ul class="navbar-nav row nav-main text-center">
    <!-- to be displayed when user is not logged in-->
    <li class="nav-item col-md-4">
      <a class="nav-link" routerLink="#" (click) ="Menu()">Menu</a>
    </li>
    <li class="nav-item col-md-4">
      <a class="nav-link" routerLink="#" (click) ="Reviews()">Reviews</a>
    </li>
    <li class="nav-item col-md-4">
      <a class="nav-link" routerLink="#" (click) ="Recipe()">Recipe</a>
    </li>
  </ul>
  <div  *ngIf = " hideRs" class="navbar nav2 navbar-expand-sm navbar-light bg-light menu-stuff">
    <ul class="navbar-nav row">
      <!-- to be displayed when user is not logged in-->
      <li class="nav-item col-md-4">
        <a class="nav-link" routerLink="/#breakfast">Breakfast</a>
      </li>
      <li class="nav-item col-md-4">
        <a class="nav-link" routerLink="/#lunch">Lunch</a>
      </li>
      <li class="nav-item col-md-4">
        <a class="nav-link" routerLink="/#supper">Supper</a>
      </li>
    </ul>
  </div>
</div>

<!--Beginning of menu-->
<div *ngIf = " hideRs " class="container jumbotron menu menu-stuff">
  <section id="breakfast">
    <h3 class='text-center'>Breakfast</h3>
    <div *ngFor="let food of menu" class="food-item">
      <div *ngIf='food.category == "breakfast"'>
        <div class="card-body row">
          <h4 class="card-title col-md-9">{{food.name}}</h4>
          <p class="card-text col-md-3 text-right">{{food.price}}</p>

          <hr class='accent-1 d-inline-block mx-auto'>
          <p class="card-text col-md-9 text-left">{{food.description}}</p>
          <button type="button" name="" id="add" class="btn btn-white">Add</button>
          <button type="button" name="" id="add" class="btn btn-white">Remove</button>
        </div>
        <hr>
      </div>
    </div>
  </section>
  <section id="lunch">
    <h3 class='text-center'>Lunch</h3>
    <div *ngFor="let food of menu" class="food-item">
      <div *ngIf='food.category == "lunch"'>
        <div class="card-body row">
          <h4 class="card-title col-md-9">{{food.name}}</h4>
          <p class="card-text col-md-3 text-right">{{food.price}}</p>
          <hr class='accent-1 d-inline-block mx-auto'>
          <p class="card-text col-md-9 text-left">{{food.description}}</p>
          <button type="button" name="" id="add" class="btn btn-white">Add</button>
          <button type="button" name="" id="add" class="btn btn-white">Remove</button>
        </div>
        <hr>
      </div>
    </div>
  </section>
  <section id="supper">
    <h3 class='text-center'>Supper</h3>
    <div *ngFor="let food of menu" class="food-item">
      <div *ngIf='food.category == "supper"'>
        <div class="card-body row">
          <h4 class="card-title col-md-9">{{food.name}}</h4>
          <p class="card-text col-md-3 text-right">{{food.price}}</p>

          <hr class='accent-1 d-inline-block mx-auto'>
          <p class="card-text col-md-9 text-left">{{food.description}}</p>
          <button type="button" name="" id="add" class="btn btn-white">Add</button>
          <button type="button" name="" id="add" class="btn btn-white">Remove</button>
        </div>
        <hr>
      </div>
    </div>
  </section>
</div>
<!--End of menu-->

<!--Beginning of Reviews-->
<div *ngIf = "hideMR1" class=" container jumbotron menu review-stuff" >
    <div class = "review" style = "margin-bottom: 60px;">
    <div class="form-group shadow-textarea">
        <label for="exampleFormControlTextarea6">Write a review</label>
        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write review here..."></textarea>
      </div>
      <button type="button" name="" id="add" class="btn btn-white">Submit</button>
    </div>
      <div *ngFor="let review of reviews" class="food-item" >
          <div class="card-body row">
            <h4 class="card-title col-md-9">{{review.user}}</h4>
            <p class="card-text col-md-3 text-right">{{review.posted}}</p>
  
            <hr class='accent-1 d-inline-block mx-auto'>
            <p class="card-text col-md-9 text-left">{{review.review}}</p>
            <button type="button" name="" id="add" class="btn btn-white">Delete</button>
          </div>
          <hr>
      </div>
  </div>
  <!--End of Reviews-->


  <!--Beginning of Recipe-->
<div  *ngIf = "hideMR2" class="container jumbotron menu recipe-stuff">
    <h4>{{recipe.recipeName}}</h4>
    <hr>
    <p>{{recipe.description}}</p>
</div>
  <!--End of Recipe-->


<app-footer></app-footer>


