<main>

      <section class="jumbotron jumbotron-fluid text-center d-flex align-items-center">
          <div class="container header align-middle">
            <h1 class="jumbotron-heading">Foodiez App</h1>
            <p class="lead">ORDER FOOD FROM THE BEST RESTAURANTS IN TOWN</p>
          </div>
      </section>

    <div class="container-fluid">

        <div class="moreHeader row">
            <div col-xs-6>
          <h2>POPULAR RESTAURANTS</h2>
        </div>
        <div class="btn-group ">
          <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Location
          </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" routerLink="/restaurant-list">Location1</a>
                <a class="dropdown-item" routerLink="/restaurant-list">Location2</a>
            </div>
          </div>
      </div>
      <hr>
    </div>
</main>

<restaurant-card></restaurant-card>
<app-footer></app-footer>

