<main>
    <section class="welcomeArea">

        <section class="jumbotron jumbotron-fluid text-center d-flex align-items-center">
            <div class="container header align-middle">
              <h1 class="jumbotron-heading">Foodiez App</h1>
              <p class="lead">ORDER FROM THE BEST RESTAURANTS IN </p>
            </div>
        </section>

      <div class="container-fluid">

        <div class="moreHeader row">
          <div col-sm-6>
            <h2> Highest Rated in  </h2>
          </div>
        </div>
        <hr>
      </div>
    </section>
  </main>

<rest-location></rest-location>


<app-footer></app-footer>
